<h3>Edit Video:</h3>

<form method="post" action="/videos/<%=@video.id%>">
   <input type="hidden" id="hidden" name="_method" value="PATCH">
   <label for="video_title">Title:</label>
  <input type="text" name="video[title]" id="video_title" value="<%=@video.title%>">
   <label for="year">Year:</label>
  <input type="text" name="video[year]" id="year" value ="<%=@video.year%>"><br>
  <label for="url">URL:</label>
  <input type="text" name="video[url]" id="url" value="<%=@video.url%>"><br><br>
  <label for="notes">Notes:</label>
  <input name="video[notes]" id="notes" cols="30" rows="5" value="<%=@video.notes%>">


   

  <h4>Add a step to this video:</h4>

  <label for="name">Step Name:</label>
  <input type="text" name="step[name]" id="name"> <br><br>
  <label for="level_of_mastery">Current level of mastery (1-10):</label>
  <input type="text" name="step[level_of_mastery]" id="level_of_mastery" ><br>
  <label for="notes">Notes:</label>
  <textarea name="step[notes]" id="notes" cols="30" rows="5"></textarea>

  <h4>Steps currently associated with this video:</h4>

  <% Step.all.each do |step| %>
      <label><%= step.name %></label>
      <input type="checkbox" id="<%=step.id%>" name="video[step_ids][]" value="<%= step.id %> <%= 'checked' if @video.steps.include?(step)%>>"><br>
    <% end %> <br><br>
 

  <input type="submit" value="Save Changes">
</form><br>

<form method="post" action="/videos/<%=@video.id%>/delete">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Video">
</form>