<button class="btn btn-primary navbar-btn heading">
    <a href="/videos/new" style="color: white; text-decoration: none;">Add a New Video</a>
</button>

<h3 class="heading"><%=current_user.username%>'s videos:</h3>


<%@videos.each do |video|%>

<span class="col-md-4">
  <div class="panel panel-info">
    <div class="panel-heading">
    
      <h4><a href="/videos/<%=video.id%>"><%=video.title%></a></h4>
      </div>
       <div class="panel-body">
      <p>
        <a href="<%=video.url%>">Watch Video Clip</a><br><br>
        Styles: <%video.styles.each do |style|%>
        <%=style.name%>
        <%end%>
        Year: <%=video.year%><br>
        Notes: <%=video.notes%>
      </p>

      <p>      
        Associated Steps:
        <ul>
          <%video.steps.each do |step|%>
          <li><a href="/steps/<%=step.id%>"><%=step.name%></a></li>
          <%end%>
        </ul>
      </p>
    </div> <!--panel body-->
  </div> <!--panel-->
</span>
    


  <%end%>

